<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>jasper</display-name>
	<filter>
		<display-name>TestFilter</display-name>
		<filter-name>TestFilter</filter-name>
		<filter-class>org.walter.TestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>TestInstanceServlet</display-name>
		<servlet-name>TestInstanceServlet</servlet-name>
		<servlet-class>org.walter.servlet.TestInstanceServlet</servlet-class>
		<!-- <load-on-startup>2</load-on-startup> -->
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyOgnlServlet</display-name>
		<servlet-name>MyOgnlServlet</servlet-name>
		<servlet-class>org.walter.servlet.MyOgnlServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DataReqServlet</display-name>
		<servlet-name>DataReqServlet</servlet-name>
		<servlet-class>org.walter.servlet.DataReqServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DefenseReverseRequest</display-name>
		<servlet-name>DefenseReverseRequest</servlet-name>
		<servlet-class>org.walter.servlet.DefenseReverseRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CookieCounter</display-name>
		<servlet-name>CookieCounter</servlet-name>
		<servlet-class>org.walter.servlet.CookieCounter</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckImage</display-name>
		<servlet-name>CheckImage</servlet-name>
		<servlet-class>org.walter.servlet.CheckImage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Submit</display-name>
		<servlet-name>Submit</servlet-name>
		<servlet-class>org.walter.servlet.Submit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestInstanceServlet</servlet-name>
		<url-pattern>/TestInstanceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyOgnlServlet</servlet-name>
		<url-pattern>/MyOgnlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataReqServlet</servlet-name>
		<url-pattern>/DataReqServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefenseReverseRequest</servlet-name>
		<url-pattern>/DefenseReverseRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieCounter</servlet-name>
		<url-pattern>/CookieCounter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckImage</servlet-name>
		<url-pattern>/CheckImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Submit</servlet-name>
		<url-pattern>/Submit</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
